/*.suo
/Invasion/Invasion/obj
/Invasion/Invasion/bin
/Invasion/InvasionContent/obj
/Invasion/InvasionContent/bin
/Invasion/ImproviSoft.System/bin
/Invasion/ImproviSoft.System/obj
/Invasion/ImproviSoft.Drawing/obj
/Invasion/ImproviSoft.Drawing/bin
/Invasion/ImproviSoft.Diagnostics/obj
/Invasion/ImproviSoft.Diagnostics/bin
